{% extends "base.html" %}

{% block content %}
<section class="home" id="home">
    <div class="home-content">
        <h1>Hi, I'm <span>Jason Qin</span></h1>
        <div class="text-animate">
            <h3>Welcome</h3>
        </div>
        <p>asldkjfaslkdjfalksdjflas</p>
        <div class="btn-box">
            <a href="/resume" class="btn">Resume</a>
            <a href="/contact" class="btn">Connect</a>
        </div>

        <div class="home-sci">
            <a href="https://www.linkedin.com/in/jasonqinedu/" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/jaysonedu" target="_blank"><i class='bx bxl-github'></i></a>
            <a href="mailto:jasonqinedu@gmail.com?subject=[Website]" target="_blank"><i class='bx bx-envelope'></i></a>

        </div>

        <div class="home-imgHover">

        </div>

    </div>
</section>
{% endblock %}
