{% extends "base.html" %}

{% block content %}
<section class="home" id="home">
    <div class="home-content">
        <h1>Hi, I'm <span>Jason Qin</span></h1>
        <div class="text-animate">
            <h3 id="text">Hover here!</h3>
        </div>
        <p>I am a student and <a href="https://www.engineering.columbia.edu/egleston-scholars/jason-qin" target="_blank" class = 'link'>Egleston Scholar</a> at Columbia University studying Computer Science and Economics.
            <br><br>Thank you for visiting my page!
        </p>
        <div class="btn-box">
            <a href="/resume" class="btn">Resume</a>
            <a href="/contact" class="btn">Connect</a>
        </div>

        <div class="home-sci">
            <a href="https://www.linkedin.com/in/jasonqinedu/" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/jaysonedu" target="_blank"><i class='bx bxl-github'></i></a>
            <a href="mailto:jasonqinedu@gmail.com?subject=[Website]" target="_blank"><i class='bx bx-envelope'></i></a>

        </div>

        <div class="home-imgHover">
            
        </div>

    </div>

    <!--Inspired by: Zach Goodson, Github: Quantum-Studios-->
    <script>
        const letters = "abcdefghijklmnopqrstuvwxyz";
        let interval = null;
        let revertInterval = null;
    
        document.getElementById("text").onmouseover = event => {
            let iteration = 0;
            const originalText = "Hover here!";
            
            clearInterval(interval);
            clearInterval(revertInterval); // Clear any existing revert interval
    
            interval = setInterval(() => {
                event.target.innerText = event.target.innerText
                    .split("")
                    .map((letter, index) => {
                        if (index < iteration || !letters.includes(originalText[index].toLowerCase())) {
                            return originalText[index];
                        }
                        return letters[Math.floor(Math.random() * 26)];
                    })
                    .join("");
    
                if (iteration >= originalText.length) {
                    clearInterval(interval);
                }
    
                iteration += originalText.length / 30; // Control speed so it ends in 1s
            }, 30);
    
            // Start reverting each letter one by one after the effect ends
            setTimeout(() => {
                clearInterval(interval);
                let revertIteration = 0;
    
                revertInterval = setInterval(() => {
                    event.target.innerText = event.target.innerText
                        .split("")
                        .map((letter, index) => {
                            if (index < revertIteration || !letters.includes(originalText[index].toLowerCase())) {
                                return originalText[index];
                            }
                            return event.target.innerText[index];
                        })
                        .join("");
    
                    if (revertIteration >= originalText.length) {
                        clearInterval(revertInterval);
                    }
    
                    revertIteration++;
                }, 100); // Adjust the speed of reverting letters here
            }, 1000); // 1 second timeout
        }
    
        document.getElementById("text").onmouseout = function() {
            clearInterval(interval);
            clearInterval(revertInterval);
            event.target.innerText = "Hover here!";
        }
    </script>
    
    

</section>
{% endblock %}
