{% extends "base.html" %}

{% block content %}
<section class="home" id="home">
    <div class="home-content">
        <h1>Hi, I'm <span>Jason Qin</span></h1>
        <div class="text-animate">
            <h3 id="text">Welcome</h3>
        </div>
        <p>asldkjfaslkdjfalksdjflas</p>
        <div class="btn-box">
            <a href="/resume" class="btn">Resume</a>
            <a href="/contact" class="btn">Connect</a>
        </div>

        <div class="home-sci">
            <a href="https://www.linkedin.com/in/jasonqinedu/" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/jaysonedu" target="_blank"><i class='bx bxl-github'></i></a>
            <a href="mailto:jasonqinedu@gmail.com?subject=[Website]" target="_blank"><i class='bx bx-envelope'></i></a>

        </div>

        <div class="home-imgHover">
            
        </div>

    </div>

    <!--Source from https://www.winterwind.com/tutorials/js/2-->
    <script>
    var text = document.getElementById('text'),
    chars = '!@$%^&*()<>/abcdefghijklmnopqrstuvwxyz',
    arrChars = text.innerHTML.split(''),
    strCharSplit = '',
    interval

    function changeLetters(str) {
        if(str.innerHTML !== ' ') {
            str.innerHTML = chars[Math.floor(Math.random() * chars.length)]
        }
    }

    for (i = 0; i < arrChars.length; i++) {
        var strChar = arrChars[i]
        strCharSplit = strCharSplit + "<span data-ltr='" + strChar + "'>" + strChar + "</span>"
    }
    
    text.innerHTML = strCharSplit

    text.onmouseover = function() {
        interval = setInterval(function() {
            for (i = 0; i < text.childNodes.length; i++) {
                changeLetters(text.childNodes[i])
            }
        }, 100)
    }

    text.onmouseout = function() {
        clearInterval(interval)
        for(i = 0; i < text.childNodes.length; i++) {
            var letter = text.childNodes[i]
            letter.innerHTML = letter.getAttribute('data-ltr')
        }
    }
    </script>
</section>
{% endblock %}
