{% extends "base.html" %}

{% block content %}
<div class="timeline">
    {% for project in projects %}
    <div class="timeline-container {% cycle 'left' 'right' %}">
        <img src="{{ project.image.url }}">
        <div class="timeline-text">
            <h2>{{ project.title }}</h2>
            <small>{{ project.description }}</small>
            <div class="btn-box">
                <a href="{% url 'project_detail' project.pk %}" class="btn">Read More</a>
            </div>
            
            <span class="container-arrow {% cycle 'left' 'right' %}"></span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
