{% extends "base.html" %}

{% block content %}
<section class="projects">
    <div class="project-grid">
        <div class="project-card">
            <div class="card-content">
                <h5 class="card-title">Portfolio Website</h5>
                <p class="card-text">Description...</p>
            </div>
        </div>
        <div class="project-card">
            <div class="card-content">
                <h5 class="card-title">Portfolio Website</h5>
                <p class="card-text">Description...</p>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}
