<!DOCTYPE html>
<html lang="en">
 
<head>
    <link rel="icon" href="/static/images/crane.png" type="image/icon type">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}J.Qin{% endblock %}</title>
    {% load static %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <script src="{% static 'js/home.js' %}"></script>
</head>

<body>
    <header class="header">
        <a href="/" class="logo">j.qin
        </a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <nav class="navbar">
            <a href="/" class="active">Home</a>
            <a href="/resume">Resume</a>
            <a href="/experience">Experience</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>

            <!-- <span class="divider">|</span> -->

            <!-- Light/dark toggle button -->
            <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              width="1em"
              height="1em"
              class="theme-toggle__dark-side"
              fill="currentColor"
              viewBox="0 0 32 32"
            >
              <path d="M16 .5C7.4.5.5 7.4.5 16S7.4 31.5 16 31.5 31.5 24.6 31.5 16 24.6.5 16 .5zm0 28.1V3.4C23 3.4 28.6 9 28.6 16S23 28.6 16 28.6z" />
            </svg>
            </button>
        </nav>
    </header>
{% block content %}{% endblock %}

<script>
document.getElementById('theme-toggle').addEventListener('click', function() {
    // Get current background color
    let currentBgColor = getComputedStyle(document.documentElement).getPropertyValue('--bg-color').trim();

    if (currentBgColor === 'rgb(255, 255, 255)') { // Light mode (white)
        // Switch to dark mode
        document.documentElement.style.setProperty('--bg-color', 'var(--bg-color-dark)');
        document.documentElement.style.setProperty('--second-bg-color', 'var(--second-bg-color-dark)');
        document.documentElement.style.setProperty('--text-color', 'var(--text-color-dark)');
        document.documentElement.style.setProperty('--main-color', 'var(--main-color-dark)');
    } else { // Dark mode
        // Switch to light mode
        document.documentElement.style.setProperty('--bg-color', 'var(--bg-color-light)');
        document.documentElement.style.setProperty('--second-bg-color', 'var(--second-bg-color-light)');
        document.documentElement.style.setProperty('--text-color', 'var(--text-color-light)');
        document.documentElement.style.setProperty('--main-color', 'var(--main-color-light)');
    }
});
</script>

    <!-- Include jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
